{% extends 'base.html' %}

{% block content %}
<div class="text-center m-4 p-4">
    <h1 class="text-5xl font-bold text-primary m-2 mb-2">Beboere</h1>
</div>

<div class="flex p-4 justify-center">

    <div class="card bg-base-100 w-60 shadow-xl m-4">
        <figure>
            <div class="avatar m-2">
                <div class="w-24 rounded">
                    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>
                </div>
            </div>
        </figure>
        <div class="card-body">
          <h2 class="card-title">Bjarne</h2>
          <div class="card-actions">
            <button class="btn btn-primary">Go</button>
          </div>
        </div>
    </div>

    <div class="card bg-base-100 w-60 shadow-xl m-4">
        <figure>
            <div class="avatar m-2">
                <div class="w-24 rounded">
                    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>
                </div>
            </div>
        </figure>
        <div class="card-body">
          <h2 class="card-title">Lis</h2>
          <div class="card-actions">
            <button class="btn btn-primary">Go</button>
          </div>
        </div>
    </div>

    <div class="card bg-base-100 w-60 shadow-xl m-4">
        <figure>
            <div class="avatar m-2">
                <div class="w-24 rounded">
                    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>
                </div>
            </div>
        </figure>
        <div class="card-body">
          <h2 class="card-title">Inge</h2>
          <div class="card-actions">
            <button class="btn btn-primary">Go</button>
          </div>
        </div>
    </div>

    <div class="card bg-base-100 w-60 shadow-xl m-4">
        <figure>
            <div class="avatar m-2">
                <div class="w-24 rounded">
                    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/>
                </div>
            </div>
        </figure>
        <div class="card-body">
          <h2 class="card-title">Børge</h2>
          <div class="card-actions">
            <button class="btn btn-primary">Go</button>
          </div>
        </div>
    </div>

    

</div>
{% endblock %}