{% extends 'base_front.html' %}

{% block content %}

   

    <div class="flex items-center justify-center min-h-screen">
        <div class="p-6 rounded-lg shadow-md w-96">
            <form method="POST">
                <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
                <div class="mb-4">
                    <input type="text" name="username" placeholder="Brugernavn" required
                        class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
                <div class="mb-4">
                    <input type="password" name="password" placeholder="Kodeord" required
                        class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
                
                <button type="submit"
                    class="w-full bg-blue-500 text-white p-3 rounded hover:bg-blue-600 transition duration-200">
                    Login
                </button>
            </form>

            <!-- <p>Første gang, du skal logge på?</p> -->
            <a href="/signup">
                <button class="btn-link">Tilføj admin bruger</button>
            </a>
        </div>
    </div>
    
    
{% endblock %}